

<div class="gtavpage">
  <div class="gtavhead">
    <h1>Categories</h1>
  </div>
<div class="updationlist">
 <div class="trending">

<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>Bus Simulator-2021</h2></div>
<div class="image"><img [src]="aimages[0]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
  Get ready for the brand-new, impressive US map Angel Shores and a revamped version of the European Seaside Valley map from the previous game installment – including its map extension. The even greater open-world approach of Bus Simulator 21 means that you will get to experience the exciting daily life of a bus driver in two massive, freely explorable cities, including industrial and outlying districts, a vibrant Chinatown district, a promenade, the surrounding hilly countryside, and the business park. Different difficulty levels and play modes are also available for a wide range of player types.
In Bus Simulator 21, you will not only become a capable driver with countless miles on the road – you also have the option to use extended management elements. Creating detailed timetables, buying and selling buses, and planning efficient routes that take into account the daily number of passengers at peak hours – these and more varied tasks are available for you to enjoy.
</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10. OSWindows 10.</li>
          <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
          <li>Memory16 GB RAM. Memory16 GB RAM.</li>
          <li>Storage: 20 GB available space.</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[1]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[2]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[3]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[4]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[5]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>

   <li>
    <!-- genere -->
    <div class="genere">
  <h2><span>Genere: </span>Open World,Relistic Driving</h2>
</div>

   </li>
   <li>
    <div class="like">
      <h2>

          <i class="fa-solid fa-star-half-stroke"></i> 97% Liked this Game</h2>
    </div>
   </li>
   <li>

    <div class="ratingstar">
      <h2>Rating Star</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>

   </li>

   <li>
<div class="imdb">
  <h2><span>Imdb </span><i class="fa-solid fa-star-half-stroke"></i> 9.6/10</h2>
</div>
   </li>
   <li>

    <div class="cast">
      <h1>Cast:</h1>
      <ul>
        <li><img [src]="castimages[0]" alt="Ellen" width="100px" height="100px" style="border-radius: 50%;">

         <h4>Ellen</h4> </li>

        <li><img [src]="castimages[1]" alt="Damon" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Damon</h4></li>
        <li><img [src]="castimages[2]" alt="Mark" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Mark</h4></li>
        <li><img [src]="castimages[3]" alt="Steve" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Steve</h4></li>
        <li><img [src]="castimages[4]" alt="Karin" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Karin</h4></li>
      </ul>
    </div>

   </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
      <h2>Rs:3200</h2>
      </div>
    </li>
  </ul>
</div>

<div class="purchase">
  <h2>Purchase:</h2>
</div>
<a href="" routerLink=""><button><i class="fa-solid fa-cart-shopping" style="color:orangered"></i> Buy</button></a>
</div>

</div>

</div>

