<app-navbar></app-navbar>

<div class="aboutpage">
  <div class="abouthead">
    <h1>About Us</h1>
  </div>
<div class="updationlist">
 <div class="trending">


  <div class="tlist">
    <ul>
      <li>
<div class="gname"> <h2>Crime Boss Rock City</h2></div>
<div class="image"><img [src]="aimages[0]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
              Crime Boss: Rockay City is an organized crime game combining first-person shooter action and turf wars, playable solo or with friends. Take on the role of Travis Baker – a man with his sights set on becoming the new King of Rockay City, one crime at a time…
                Rockay City. A thriving metropolis with excitement buzzing from the sandy bay to the towering skyscrapers. But beyond the glamour, there is a fierce turf war raging on…
                After the demise of the previous crime boss, there’s an open vacancy for a new King of Rockay City – but it isn’t just you who is fighting for the throne. Choose your crew based on their skills and expertise, and execute daring missions with the hopes of walking away with the cash, the turf and, ultimately, the crown.
                Make Sure You’re Connected
                Rockay City doesn’t just look and feel like the 90s, you’ll find a few familiar faces there too. From the charismatic Travis Baker (Michael Madsen) and his team of planners and handlers (Michael Rooker, Kim Basinger, Danny Glover and Damion Poitier), to rival gang bosses (Danny Trejo and Vanilla Ice) and the righteous Sheriff Norris (Chuck Norris): it’s not what you know, but who you know.
                Keep Your Friends Close
                Stealing everything from cash and drugs, through to priceless artifacts is more fun with accomplices. Jump into the PVE co-op multiplayer and take on thrilling hits and heists with up to four players. Fail and you leave empty handed, but succeed and you’ll find yourself richly rewarded.
                And Your Enemies Closer
                Play as Baker in the single player campaign as he builds his empire using strategy, cunning and a little fire power to carry out heists and take territory from rival gangs. Winning the turf war won’t be easy though – between Dollar Dragon, Hielo and Khan trying to take the city for themselves, and Sheriff Norris aiming to stop you all in your tracks, this roguelike campaign will reward and punish in equal measure.
                The Best Revenge is Massive Success
                These aren’t just nameless thugs – these are real people, with real big problems. Explore how Cracker, Jupiter, Wiz and the gang ended up in Rockay City and help them pull off different jobs to get back on top. Each story is made up of multiple missions, which allows you to fully experience their life of crime.
</div>



      </li>
      <li>
        <div class="requirements">
          <div class="requirementshead">
            <h3>Requirements</h3>
          </div>
            <ul>
            <li>OSWindows 10. OSWindows 10.</li>
            <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
            <li>Memory16 GB RAM. Memory16 GB RAM.</li>
            <li>Storage90GB. Storage90GB (SSD Recommended)</li>
            <li>Direct XDirectX 12. Direct XDirectX 12.</li>
            <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
      </ul>
        </div>
      </li>
      <li>
        <div class="images">
          <h1>Related Images</h1>
          <div class="imageslist">
            <li><img [src]="aimages[1]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
            <li><img [src]="aimages[2]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
            <li><img [src]="aimages[3]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
            <li><img [src]="aimages[4]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
            <li><img [src]="aimages[5]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          </div>
        </div>
      </li>
      <li>
        <div class="price">
          <h3>Price:</h3>
          <h2>{{1700 | currency:"INR"}}</h2>
        </div>
      </li>
    </ul>
  </div>


<!-- Tchia Category -->

<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>Tchia</h2></div>
<div class="image"><img [src]="aimages[6]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
  A Tropical Open-World adventure. Climb, glide, swim, and sail your boat around a beautiful archipelago in this physics-driven sandbox. Take control of any animal or object you can find, and Jam on your fully playable Ukulele.
  Tchia Join Tchia on her tropical open-world adventure as she sets off to rescue her father from the cruel tyrant, Meavora, ruler of the archipelago. Climb, glide, swim, and sail your boat around beautiful islands as you explore a physics-driven sandbox. Face the fabric soldiers created by Meavora in open encounters where your creativity gives you the edge. Take control of any animal or object you can find, make new friends and jam on your fully playable Ukulele. A poetic coming-of-age story inspired by New Caledonia.
  Tchia's special gift lets you take control of any animal or object you can find. With over 30 animals and hundreds of objects to choose from, fly around as a bird, explore the ocean as a fish or dig for treasures as a dog! Use your unique soul-jumping abilities to explore solve puzzles, and uncover secrets.
  Jump and glide your way across a vast archipelago and use the Tricks system to perform cool stunts and dives. The free climbing mechanic lets you ascend anything in the world without restriction including any physics-driven tree. Take to the ocean waves, and sail your customizable boat across turquoise lagoons and dive around coral reefs and shipwrecks.
  The world of Tchia was inspired by New Caledonia, A tiny island in the Pacific Ocean, homeland of Awaceb's co-founders. Inspiration was taken from the rich and varied local landscapes, cultures, music, languages, folklores and traditions and was used to create a fictional world and to tell a universal story for all to understand and enjoy. The characters are voiced by local talent in traditional languages, and subtitled in many languages including English, French, Russian, Chinese, German, and more
  Take Tchia on a heartfelt adventure and meet a diverse cast of characters inspired by New Caledonian cultures. Fully animated cutscenes voiced in traditional language will punctuate your journey while an original orchestral score infused with local sounds creates a unique and immersive world.
</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10. OSWindows 10.</li>
          <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
          <li>Memory16 GB RAM. Memory16 GB RAM.</li>
          <li>Storage90GB. Storage90GB (SSD Recommended)</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[7]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[8]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[9]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[10]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[11]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
        <h2>{{200 | currency:"INR"}}</h2>
      </div>
    </li>
  </ul>
</div>


<!-- The Last of Us -->

<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>The Last of Us Part-1</h2></div>
<div class="image"><img [src]="aimages[12]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
  Experience the emotional storytelling and unforgettable characters in The Last of Us™, winner of over 200 Game of the Year awards.
  In a ravaged civilization, where infected and hardened survivors run rampant, Joel, a weary protagonist, is hired to smuggle 14-year-old Ellie out of a military quarantine zone. However, what starts as a small job soon transforms into a brutal cross-country journey.
  Plot. In 2013, an outbreak of a mutant Cordyceps fungus ravages the United States, transforming its human hosts into aggressive creatures known as the "infected". In the suburbs of Austin, Texas, Joel (Troy Baker) flees the chaos with his brother, Tommy (Jeffrey Pierce), and daughter, Sarah (Hana Hayes).
  The Last of Us developers, HBO creators on building the world around Joel and Ellie. The Last of Us revolves around the story of Joel and Ellie, but their story is a constantly moving one
  The Last of Us Season 1 ends with the same false promise reassured in the 2013 video game: that the Fireflies failed to find the cure to the global pandemic, that they are no longer looking for it, that Ellie and Joel should just continue on, live on, as if no hope exists.
  All this to say that The Last of Us Part I looks and feels amazing on the PS5. While the story remains the same, you'll experience Joel and Ellie's adventure on a different level. That's not to say the remastered version looks bad, but keep in mind that we're talking about a decade-old game
  But Mazin told TIME that he wanted to change Bill and Frank's story to raise the stakes for Joel and Ellie's journey. “One of my goals was to show that there was a way to win. I mean, it ends sadly, but it's a happy ending as far as I'm concerned. They had a great life together,” Mazin said
</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10. OSWindows 10.</li>
          <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
          <li>Memory16 GB RAM. Memory16 GB RAM.</li>
          <li>Storage90GB. Storage90GB (SSD Recommended)</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[13]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[14]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[15]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[16]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[17]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
        <h2>{{2700 | currency:"INR"}}</h2>
      </div>
    </li>
  </ul>
</div>


<!-- Dead Island-2 -->


<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>Dead Island-2</h2></div>
<div class="image"><img [src]="aimages[18]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
                The Gold Edition includes the Expansion Pass. A deadly virus is spreading across Los Angeles, turning its inhabitants into zombies. Survive, evolve and become the ultimate Zombie Slayer.
                Plot. About 10 years after the events of Dead Island, the United States government and US military are forced to put California under a full quarantine restricted zone due to a new and stronger zombie outbreak
                While the Dead Island 2 release date was originally set for February 2023, Dambuster Studios and Deep Silver later announced the launch date has been pushed back by 11 weeks and will now be releasing on April 21, 2023.
                Enough to sink your teeth into. Dambuster Studios has confirmed that Dead Island 2 will take "around 20 hours to complete", provided the player completes some of the game's side missions and "other activities".
                Unlike Dead Island: Riptide, which saw players able to carry over their character and XP levels from the first game, or pick one additional new character instead, Dead Island 2's cast will consist of entirely new characters - Amy, Jacob, Dani, Ryan, Carla, and Bruno - who each have their own unique personality, ...
                The plot focuses on four playable survivors trying to survive and escape off the fictional island of Banoi. The game was announced at the 2006 Electronic Entertainment Expo, but delayed until 2011. The game's cinematic announcement trailer was met with controversy over its depiction of a dead child.
                The 4 characters from the original Dead Island game make a return in Dead Island Riptide. In addition to the original protagonists, a fifth character named John Morgan, a hand-to-hand combat specialist, will also be playable.
                As the game ends, growling is heard from the inside of the boat, and the doorknob to the hold is turned open from the inside before the game abruptly ends. The fates of the immune and the other five survivors are left unclear.
</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10. OSWindows 10.</li>
          <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
          <li>Memory16 GB RAM. Memory16 GB RAM.</li>
          <li>Storage90GB. Storage90GB (SSD Recommended)</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[19]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[20]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[21]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[22]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[23]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
        <h2>{{250 | currency:"INR"}}</h2>
      </div>
    </li>
  </ul>
</div>

<!-- Saintsrow Platinum Edition -->

<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>Saintsrow Platinum Edition</h2></div>
<div class="image"><img [src]="aimages[24]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
  So far, the only difference between the "Gold" and "Platinum" editions seems to be the inclusion of a copy of "Saints Row the Third: Remastered." Physical copies will be sold at select retailers, with Best Buy and GameStop having exclusive editions to offer
  There is nothing redeemable about the Saints Row reboot and that is not even the worst part. The worst part of Saints Row is that the game doesn't even have the decency to be terrible. If the game was objectively terrible then it would at least be fun to laugh at.
  Saints Row 2 is at the top of the list primarily because it took everything that it did in the previous title and made it ten times better. The storyline followed the same “take down the rival gangs” goal, but this time the leaders here were more ruthless as you try to rebuild The Saints.
  In May MCV reported on what was then the world's most expensive video game, the 125,000 Grid 2 Mono Edition. Well, forget that. GAME is now offering one copy of what is being called The Super Dangerous Wad Wad Edition AKA The Million Dollar Pack of Saints Row IV.
  What are 2022 Saints Row Gold and Platinum Edition? Saints Row Gold Edition gives players the standard game with a bundle of DLC, while Platinum Edition gives players the DLC alongside another Saints Row game. Saints Row has three different digital editions with various bonus content.
  Saints Row, on the other hand, goes all out on the wackiness. No matter how crazy Grand Theft Auto gets, when it comes to GTA vs Saints Row, nothing will top the absolute insanity of the latter franchise
  Grand Theft Auto 5 is a great game worthy of all the praise it receives, but Saints Row handles character customization far better than GTA 5's ruined rereleases ever did. The first time Grand Theft Auto 5 loads into the game, players take control of a nameless masked thief about to commit a robbery.
  Saints Row (2022) is the rare open-world game that makes an average Ubisoft open-world game of the past five years seem refreshing by comparison.

</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10 64bit. OSWindows 10 64bit.</li>
          <li>ProcessorIntel Core i3-3240 / Ryzen 3 1200. ProcessorIntel Core i5 12600 / AMD Ryzen 7 5800X.</li>
          <li>Memory8192 MB RAM. Memory16 GB.</li>
          <li>GraphicsGeForce GTX 970 / AMD Radeon RX 480. GraphicsGeForce RTX 3080TI / AMD Radeon RX 6800XT.</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>Storage50 GB available space. ..</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[25]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[26]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[27]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[28]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[29]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
        <h2>{{400 | currency:"INR"}}</h2>
      </div>
    </li>
  </ul>
</div>


<!-- Fortnite -->

<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>Fornite</h2></div>
<div class="image"><img [src]="aimages[30]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
  Fortnite: Save the World is a player-versus-environment cooperative game, with four players collaborating towards a common objective on various missions. The game is set after a fluke storm appears across Earth, causing 98% of the population to disappear, and the survivors to be attacked by zombie-like "husks".

</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10. OSWindows 10.</li>
          <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
          <li>Memory16 GB RAM. Memory16 GB RAM.</li>
          <li>Storage90GB. Storage90GB (SSD Recommended)</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[31]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[32]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[33]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[34]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[35]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
        <h2>Free to Play</h2>
      </div>
    </li>
  </ul>
</div>



 </div>

</div>
</div>
