

<div class="gtavpage">
  <div class="gtavhead">
    <h1>Categories</h1>
  </div>
<div class="updationlist">
 <div class="trending">

<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>Grant Theft Auto-4</h2></div>
<div class="image"><img [src]="aimages[0]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
  Niko Bellic, an Eastern European war veteran, migrates to Liberty City to forget the horrific and graphic memories of his past and for a better life, things don't come out as planned as he has to wipe out mobsters and loan sharks that are preventing his cousin, Roman from making money freely.The story is well-written, easily one of the best stories in crime genre. Niko Bellic has a tragic backstory and he's trying to survive but keeps getting pulled into the criminal underworld.
  The story of Niko Bellic currently stands as their greatest triumph. Niko arrives in Liberty City hoping to find a fresh start after crime, death, and betrayal leave him with no choice but to flee his old life
  This standalone retail title spans three distinct stories, interwoven to create one of the most unique and engaging single-player experiences of this generation.

  This definitive Grand Theft Auto bundle boasts hundreds of hours of single-player gameplay; a full suite of open-world multiplayer game types limited only by players’ creativity; dozens of eclectic radio stations with hours of music and original dialogue
</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10. OSWindows 10.</li>
          <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
          <li>Memory16 GB RAM. Memory16 GB RAM.</li>
          <li>Storage: 72 GB available space.</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[1]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[2]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[3]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[4]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[5]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>

   <li>
    <!-- genere -->
    <div class="genere">
  <h2><span>Genere: </span>Action,Open World,Shooting</h2>
</div>

   </li>
   <li>
    <div class="like">
      <h2>

          <i class="fa-solid fa-star-half-stroke"></i> 96% Liked this Game</h2>
    </div>
   </li>
   <li>

    <div class="ratingstar">
      <h2>Rating Star</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>

   </li>

   <li>
<div class="imdb">
  <h2><span>Imdb </span><i class="fa-solid fa-star-half-stroke"></i> 9/10</h2>
</div>
   </li>
   <li>

    <div class="cast">
      <h1>Cast:</h1>
      <ul>
        <li><img [src]="castimages[0]" alt="Michael hollic" width="100px" height="100px" style="border-radius: 50%;">

         <h4>Michael hollic</h4> </li>

        <li><img [src]="castimages[1]" alt="Zason" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Zason</h4></li>
        <li><img [src]="castimages[2]" alt="Timothy" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Timothy</h4></li>
        <li><img [src]="castimages[3]" alt="Moti" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Moti</h4></li>
        <li><img [src]="castimages[4]" alt="Doris" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Doris</h4></li>
      </ul>
    </div>

   </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
      <h2>Rs:500</h2>
      </div>
    </li>
  </ul>
</div>

<div class="purchase">
  <h2>Purchase:</h2>
</div>
<a href="" routerLink=""><button><i class="fa-solid fa-cart-shopping" style="color:orangered"></i> Buy</button></a>
</div>

</div>

</div>

