

<div class="gtavpage">
  <div class="gtavhead">
    <h1>Categories</h1>
  </div>
<div class="updationlist">
 <div class="trending">

<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>Call Of Duty Cold War</h2></div>
<div class="image"><img [src]="aimages[0]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
  Black Ops Cold War, the direct sequel to Call of Duty®: Black Ops, will drop fans into the depths of the Cold War’s volatile geopolitical battle of the early 1980s. Nothing is ever as it seems in a gripping single-player Campaign, where players will come face-to-face with historical figures and hard truths, as they battle around the globe through iconic locales like East Berlin, Vietnam, Turkey, Soviet KGB headquarters and more.
  Call of Duty: Black Ops Cold War is set during the Cold War in the early 1980s. The campaign follows Green Beret turned CIA SAD/SOG officer Russell Adler (Bruce Thomas) and his mission to stop an international espionage threat named Perseus (William Salyers) in 1981.
  Nothing is ever as it seems, as Raven Software brings a gripping single-player Campaign where players will come face-to-face with historical figures and hard truths, as they battle around the globe through iconic locales like East Berlin, Vietnam, Turkey, Soviet KGB headquarters, and more.
</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10. OSWindows 10.</li>
          <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
          <li>Memory16 GB RAM. Memory16 GB RAM.</li>
          <li>Storage: 72 GB available space.</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[1]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[2]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[3]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[4]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[5]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>

   <li>
    <!-- genere -->
    <div class="genere">
  <h2><span>Genere: </span>Action,Open World,Shooting,Battle Royle</h2>
</div>

   </li>
   <li>
    <div class="like">
      <h2>

          <i class="fa-solid fa-star-half-stroke"></i> 80% Liked this Game</h2>
    </div>
   </li>
   <li>

    <div class="ratingstar">
      <h2>Rating Star</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
      </div>

   </li>

   <li>
<div class="imdb">
  <h2><span>Imdb </span><i class="fa-solid fa-star-half-stroke"></i> 7.1/10</h2>
</div>
   </li>
   <li>

    <div class="cast">
      <h1>Cast:</h1>
      <ul>
        <li><img [src]="castimages[0]" alt="David" width="100px" height="100px" style="border-radius: 50%;">

         <h4>David</h4> </li>

        <li><img [src]="castimages[1]" alt="Damon" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Damon</h4></li>
        <li><img [src]="castimages[2]" alt="jeff" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Jeff</h4></li>
        <li><img [src]="castimages[3]" alt="Creed" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Creed</h4></li>
        <li><img [src]="castimages[4]" alt="Casey" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Casey</h4></li>
      </ul>
    </div>

   </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
      <h2>Rs:2700</h2>
      </div>
    </li>
  </ul>
</div>

<div class="purchase">
  <h2>Purchase:</h2>
</div>
<a href="" routerLink=""><button><i class="fa-solid fa-cart-shopping" style="color:orangered"></i> Buy</button></a>
</div>

</div>

</div>

